---
layout: default
permalink: /landy
---
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>
{% for section in site.data.sections %}
{% if section.enabled %}
<div class="admin-wrapper">
    {% if section.id != 'navigation' and section.id != 'footer' and section.id != 'header' %}
    <div class="row actionline" style="padding-left: 50px;">
        <div class="move"><i class="fas fa-arrows-alt"></i></div>
        <div class="settings"><i class="fas fa-cog"></i></div>
        <div class="delete"><i class="fas fa-trash-alt"></i></div>
        <div class="title">{{section.id}}</div>
    </div>
    {% endif %}
    {% include sections/{{section.template}}.html id=section.id edit=true %}
</div>
{% endif %}
{% endfor %}