<!-- About -->
<div id="{{ include.id }}" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ site.data.about.title }}</h2>
                <p class="p-heading p-large">{{ site.data.about.subtitle }}</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                {% for member in site.data.about.team %}
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="{{ member.avatar }}" alt="alternative">
                    </div> <!-- end of image-wrapper -->
                    <p class="p-large"><strong>{{ member.name }}</strong></p>
                    <p class="job-title">{{ member.position }}</p>
                    <span class="social-icons">
                        {% if member.social.facebook %}
                        <span class="fa-stack">
                            <a href="{{ member.social.facebook }}">
                                <i class="fas fa-circle fa-stack-2x facebook"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        {% endif %}
                        {% if member.social.twitter %}
                        <span class="fa-stack">
                            <a href="{{ member.social.twitter }}">
                                <i class="fas fa-circle fa-stack-2x twitter"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        {% endif %}
                    </span> <!-- end of social-icons -->
                </div> <!-- end of team-member -->
                <!-- end of team member -->
                {% endfor %}

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->