<!-- Details 2 -->
<div id="{{ include.id }}" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>{{ site.data.bullets-img.title }}</h2>
                    <ul class="list-unstyled li-space-lg">
                        {% for bullet in site.data.bullets-img.bullets %}
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body">{{ bullet }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                    <a class="btn-solid-reg"
                        href="{{ site.data.bullets-img.ctaurl }}">{{ site.data.bullets-img.cta }}</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="{{ site.data.bullets-img.image }}" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 2 -->

{% if include.edit %}
<!--Settings-->
<div id="{{ include.id }}-admin">
    <div class="modal-content container">
        <div class="row admin-title">
            {{ include.id }}
        </div>
        <div class="row admin-body">
            {{ include.id }} Test Content
        </div>
        <div class="row admin-buttons">
            <button class="btn-solid-reg">Save</button>
            <button class="close-{{ include.id }}-admin btn-outline-reg">Close</button>
        </div>
    </div>
</div>
{% endif %}