<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="index.html"><img src="{{ site.data.navigation.general.logo }}"
            alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#header">Home <span class="sr-only">(current)</span></a>
            </li>
            {% for section in site.data.sections %}
            {% if section.enabled %}
            {% if section.navigation %}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#{{section.id}}">{{section.navigation}}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        <span class="nav-item social-icons">
            {% if site.data.navigation.general.facebook %}
            <span class="fa-stack">
                <a href="{{site.data.navigation.general.facebook}}">
                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                </a>
            </span>
            {% endif %}
            {% if site.data.navigation.general.twitter %}
            <span class="fa-stack">
                <a href="{{site.data.navigation.general.twitter}}">
                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
            </span>
            {% endif %}
        </span>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navigation -->