<!-- Services -->
<div id="{{ include.id }}" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ site.data.services.title }}</h2>
                <p class="p-heading p-large">{{ site.data.services.subtitle }}</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                {% for service in site.data.services.services %}
                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="{{service.image}}" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">{{service.title}}</h4>
                        <p>{{service.description}}</p>
                    </div>
                </div>
                <!-- end of card -->
                {% endfor %}

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->